<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= meta_refresh %>

    <title>RCNZ6 — Code Golf</title>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'RCNZ6 — Code Golf', root_path, class: 'navbar-brand' %>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="main">
          <%= render 'flash' %>
          <%= yield %>
          <%= refresh_notice %>
        </div>
      </div>
    </div>
  </body>
</html>
